<p>Último passo...<br />
Para completar, confirme seu endereço de e-mail, basta entrar no link abaixo. <br />
<div style="
width: 100px;
height:20px; 
padding: 5px;
border-radius: 10px;
background-color:blueviolet; 
color:cornsilk; 
font-weight:bold; 
display:flex; 
align-items: center; 
justify-content: center;">
  <a style="color:cornsilk; text-decoration: none; font-family:Arial, Helvetica, sans-serif" href='http://localhost:3333/auth/{{ token }}'>Ativar conta</a>
</div>
</p>