
@keyframes login {
  from {
    width: 0;
  }
  to {
    width: 300px;
  }
}


#close {
  display: none;
}

#loginContainer {
  @media(max-width: 400px){
    width: 100%;
    right: 0;
  }
  display: block;
  border: 1px solid #777777;
  position: absolute;
  z-index: 2;
  top: 70px;
  right: 40px;
  width: 300px;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 14px;
  animation: login 0.1s linear;
  #cancel {
      margin-top: 10px;
      color: #000000;
      width: 100%;
      font-size: 15px;
    }
  form {
    display: flex;
    flex-direction: column;
    #button {
      margin-top: 22px;
      background: #00BFFF;
      font-size: 19px;
      padding: 6px 0;
    }
    label {
      font-size: 18px;
      margin-top: 18px;
    }
  }
}
 

 